<form (ngSubmit)="onSubmitClick()" [formGroup]="tournamentForm">
  <div class="input-field">
    <mat-label for="numberOfTeams">
      1. Enter a desired number of teams for this tournament:
    </mat-label>
    <input
      matInput
      type="number"
      [formControl]="tournamentForm.get('numberOfTeams')"
    />
  </div>

  <div class="input-field">
    <mat-label for="numberOfQuizzes">
      2. Enter a desired number of quizzes for this tournament:
    </mat-label>
    <input
      matInput
      type="number"
      [formControl]="tournamentForm.get('numberOfQuizzes')"
    />
  </div>

  <div class="input-field">
    <mat-label for="numberOfRooms">
      3. Enter a desired number of rooms for this tournament:
    </mat-label>
    <input
      matInput
      type="number"
      [formControl]="tournamentForm.get('numberOfRooms')"
    />
  </div>

  <div class="input-field">
    <button mat-raised-button type="submit" [disabled]="tournamentForm.invalid">
      View Results
    </button>
  </div>

  <br />The ideal number of time slots for this tournament: <br />{{
    this.tournament.idealNumberOfTimeSlots
  }}
  <br />
  <br />The actual number of time slots for this tournament: <br />{{
    this.tournament.actualNumberOfTimeSlots
  }}
  <br />
  <br />Primary result of this computation: <br />{{
    this.tournament.primaryMatchups
  }}
  <br />
  <br />Alternative result of this computation: <br />{{
    this.tournament.alternativeMatchups
  }}
</form>
